.box {
  width: 215px;
  height: 298px;
  padding: 14px 10px 4px;
  border-radius: 12px;
  border: 1px solid transparent;
}
.box img {
  height: 154px;
  width: 160px;
}
.box a{
  text-decoration: none;
}
.box a:first-child {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box:hover {
  border: 1px solid #d2d1d7;
}
.box p {
  margin-top: 42px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #0B1124;
}
.box h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
}
.price {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price svg{
  width: 19px;
  height: 19px;
  cursor: pointer;
}
@media (max-width: 508px) {
  .box {
    width: 168px;
    height: 240px;
    padding: 0;
    border-radius: 9px;
    border: 1px solid transparent;
  }
}
@media (max-width: 400px) {
  .box  img{
    width: 110px;
    height: 104px;
  }
}