.box{
  width: 215px;
  height: 298px;
  padding: 14px 10px 4px;
  border-radius: 12px;
  border: 1px solid transparent;
}
.box img{
  height: 154px;
  width: 160px;
}
.box:hover{
  border: 1px solid #D2D1D7;
}